<nav class="navbar navbar-fixed-top">
    <div class="container-fluid  menu-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-logo" href="#main-image">
                <span class="nocleg-txt">Nocleg</span>&nbsp;<span class="niepolomice-txt">Niepołomice</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-item">
                    <a href="#offer">Oferta</a>
                </li>
                <li class="menu-item">
                    <a href="#prices">Cena</a>
                </li>
                <li class="menu-item">
                    <a href="#reservation">Rezerwacja</a>
                </li>
                <li class="menu-item">
                    <a href="#calendar">Dostępność</a>
                </li>
                <li class="menu-item">
                    <a href="#gallery">Galeria</a>
                </li>
                <li class="menu-item">
                    <a href="#location">Lokalizacja</a>
                </li>
                <li class="menu-item">
                    <a href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
