{#<div class="text-center">
    <a href="#" onclick="fb_login();" class="btn btn-primary btn-facebook">
        <img src="{{ asset('images/page/facebook.png') }}">Logowanie Facebook</a>
    </a>
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-default btn-google">
        <img src="{{ asset('images/page/google.png') }}"> Logowanie Google
    </a>
</div>
#}