@import "../../_Common/css/partials/variables";
@import "../../_Common/css/partials/mixins";

.gallery-file-wrapper {
  padding: 5px;
}

/*XS*/
@media (min-width: 450px) and (max-width: 768px) {
  .gallery-file-wrapper {
    width: 50%;
  }
}

/*SM*/
@media (min-width: 768px) and (max-width: 1199px) {
  .gallery-file-wrapper {
    width: 24%;
  }
}

/* LG */
@media (min-width: 1200px) {
  .gallery-file {
    width: 280px;
  }
}