
@import "../../_Common/css/partials/variables";
@import "../../_Common/css/partials/mixins";

.image-box-pic {
  position: relative;
  height: 50vh !important;
  padding: {
    top: 50px;
  }
}

.img-box-txt {

}


