<nav class="" >
    <ul class="pages-list cms-page-menu-nav">
        {% for cmsPageMenu in cmsPages if cmsPages is not empty  %}
            {% if cmsPage is defined %}
                    {% set isPageActive = (cmsPage.id == cmsPageMenu.id) %}
                {% else %}
                    {% set isPageActive = null %}
            {% endif %}
            <li class="pages-list-item {% if isPageActive %}active{% endif %}">
                <a href="{{ path('cms_page_details', {'cmsCategorySlug': cmsPageMenu.cmsCategory.getSlug(), 'cmsPageSlug': cmsPageMenu.getSlug()}) }}">
                    {{ cmsPageMenu.getTitle()| raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>