.pagination {
  border-radius: 0 !important;
}
.news-pagination-wrapper {
  text-align: center;
}
.articles-pagination-wrapper {
  text-align: center;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: $theme-blue;
}

.pagination>li>a, .pagination>li>span {
  border: 0px;
  color: #000000;
  font: {
    size: 1.3em;
  }
}
.pagination > li.active {
  color: #FFFFFF;
}
