$theme-white: #FFFFFF;
$theme-red: #986A4D;
$theme-color: #d84e00;
$theme-red-transparent: rgba(152, 106, 77, .9);
$theme-color-transparent: rgba(216, 75, 0, .8);
$theme-blue: #0099FF;
$theme-grey: #595758;
$theme-ashy: #7e8287;
$theme-cream: #d2d0ba;
$theme-red-soft: #c1292e;
$theme-white-transparent: rgba(255, 255, 255, .7);
$theme-black-transparent: rgba(0, 0, 0, .7);
