#google-map {
  position: relative;
  width: 100%;
  height: 40vh;
}

.section-map-wrapper {

}


.map-loading-wrapper {
  width: 100%;
}

.map-loading-content {
  font: {
    weight: bold;
  };
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  @include vertical-align();
}


.map-label {
  position: relative;
  color: #FFF;
  background-color: $theme-color-transparent;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  width: 220px;
  padding: 5px;
  border:1px solid #FFF;
  white-space: nowrap;
  text-transform: uppercase;
  @include border-radius(3px);
}

.map-label::after {
  //content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $theme-red;
  border: 3px solid #FFF;
}