{# @var arenaContest \AdminBundle\Entity\ArenaContest #}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('homepage') }}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        <a href="{{ path('user_profile') }}">{{ app.user.username }}</a>
    </li>
    <li class="active">Twoje konkursy</li>
</ol>