<div id="preloader">
    <div id="status">
        <img src="{{ asset('images/page/logo.png') }}" alt="">
        <br />
        <img src="{{ asset('images/loading_circle.gif') }}" alt="">
    </div>
</div>