{% set currentRoute = app.request.attributes.get('_route') %}
<div class="row">
    <div class="col-xs-12">
        {{ apy_breadcrumb_trail_render('@Admin/_Common/apy/breadcrumbtrail-bundle/breadcrumbtrail_bootstrap.html.twig') }}
    </div>
</div>