<div class="splash" style="background-color: black; height: 100%;">
    <div class="container">
        <div class="box-for-info" style="text-align: center; top: 50%; position: absolute; width: 100%; transform: translateY(-50%);">
            <h4 style="color: white;">STRONA W BUDOWIE</h4>
        </div>

    </div>
</div>